.add-new-container {
  margin: 5%;
  width: 90%;
  height: 100%;
}
.list-container {
  height: 15%;
  width: 95%;
  padding-left: 5%;
}
a {
  text-decoration: none;
}

.list-item {
  margin-right: 5%;
  font-size: 22px;
  font-weight: 400;
  color: #404041;
}
/* .collection-container {
  height: 100%;
  width: 100%;
  background-color: green;
} */
/* .test1 {
  background-image: url('../../pictures/00_Mock_converse_altas-zapas.jpg');

  height: 200px;
  width: 200px;
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}
.test2 {
  background-image: url('../../pictures/svgshoe.svg');
  height: 100%;
  width: 100%;
} */
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.rectangle {
  background-color: #d8d8d8;
  border-radius: 8px;
  width: 11px;
  height: 81px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.rectangle:after {
  background-color: #d8d8d8;
  content: '';
  position: absolute;
  border-radius: 8px;
  top: 35px;
  left: -34.5px;
  width: 81px;
  height: 11px;
}
