.navbar {
  background-color: #fcb536;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
  padding: 10px;
  position: flex;
}
.logo {
  background-image: url('../../pictures/logo.png');
  height: 60px;
  width: auto;
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
}
