//usage: import the file on the top, then use the variable as a value, ep: color = {Colors.lightYellow};

$mainWhite: "#FFFFFF"; //backgroundcolor for the app
$lightYellow: "#FCB536"; // color of the Buy button
$darkYellow: "#f9b334"; //color of the desktop header
$lightBlack: "#343333"; // fontcolor and background color of the footer

//colors for backoffice:
$red: "#FA1414";
$black: "#0B0707";
$yellow: "#DBB11B";
$blue: #4682b4;
